[Unit]
Description=timer for a silly weather service

[Timer]
Unit=weather_script.service
OnBootSec=30s
OnUnitActiveSec=60min

[Install]
WantedBy=timers.target
